# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
# theme: jekyll-theme-so-simple
# remote_theme: mmistakes/so-simple-theme
skin: "/assets/css/skins/default.css"
locale: en-US
title: "CoffeeCraft.us"
description: "A small family of survival Minecraft and Coffee enthusiasts."
baseurl: # the subpath of your site, e.g. "/blog"
url: https://coffeecraft.us # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
logo: /assets/res/logo.png # path of site logo, e.g. "/images/logo.png"
date_format: "%d %b %Y"
read_time: false # reading time estimates, e.g. true
words_per_minute: 200
mathjax:
  enable: # MathJax equations, e.g. true, false (default)
  combo:  # "tex-svg" (default), "tex-mml-chtml", etc.: docs.mathjax.org/en/latest/web/components/combined.html
  tags:  # "none", "ams" (default), "all"
google_fonts:
  - name: "Source Sans Pro"
    weights: "400,400i,700,700i"
  - name: "Lora"
    weights: "400,400i,700,700i"
google_analytics: # Google Analytics id, e.g. "UA-NNNNNNNN-N"
disqus:
  shortname: # Disqus shortname, e.g. "my_disqus_shortname"
twitter:
  username: CoffeeCraft_us # site's Twitter username, e.g. "mmistakes"

# Liquid
liquid:
  error_mode: strict

# Build settings
permalink: /:year/:month/:title.html
markdown: kramdown
feed:
  path: rss.xml

excerpt_separator: "<!-- more -->"

# Pagination - https://jekyllrb.com/docs/pagination/
# paginate: 10
# paginate_path: /page:num/

# Search
search_full_content: false # can have performance implications for large sites

# Taxonomy pages
# category_archive_path: "/categories/#"
tag_archive_path: "/tags/#"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - .gitignore
  - Gemfile
  - Gemfile.lock
  - README.md
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - wrangler.toml

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  #- jekyll-paginate

# Collections
collections:
  members:
    output: true
    permalink: /:collection/:path/
  seasons:
    output: true
    permalink: /:collection/:path/

# Front Matter Defaults
defaults:
  # Posts defaults
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      comments: false
      share: true
  # Members defaults
  - scope:
      path: "_members"
      type: members
    values:
      layout: profile
      comments: false
      share: true
  # Seasons defaults
  - scope:
      path: "_seasons"
      type: seasons
    values:
      layout: page
      comments: false
      share: true

# Site Author
author:
  name: AnonJr
  picture: https://minotar.net/helm/c2a1aa2de72f4460b6d7dcdcc9197758/200.png
  email:
  twitter: "@anonjr"
  links:
    - title: AnonJr.com
      url: https://www.anonjr.com
      icon: fas fa-home

# Footer Links
footer_links:
  - title: Home
    url: /
    icon: fas fa-home
  #- title: Members
  #  url: /members/
  #  icon: fas fa-users
  - title: "Post Archive"
    url: /posts/
    icon: fas fa-newspaper
  - title: "Season Info"
    url: /about/
    icon: fas fa-info-circle
  - title: Feed
    url: /rss.xml
    icon: fas fa-rss-square
